@model SiappGasIn.Models.HeaderRetail
@{
ViewData["Title"] = "Detail Simulation Cost";
}
<div class="container body" style="padding-left:230px;padding-right:230px;margin-top:-7px;">
    <div class="card">
        <div class="row ">
            <div class="col-md-12 px-3">
                <div class="card-block" style="border: 1px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h5 class="card-title font-bold batasAtas">Cost Structure Simulation Software</h5>
                        </div>
                        <div class="col-md-5"><img src="@Url.Content("~/adminlte/images/logos.png")"
                                class="image-responsive" style="width:120px; height:40px; float: right;"></div>
                    </div>

                    <div id="resultSimulation">
                        <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin"
                            style="margin-top: 7px;">
                            <div class="card-body" style="margin: 15px ;">
                                 <form class="form-horizontal form-label-left">
                                      <label>Detail LNG</label>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">Demand</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;"
                                                    id="projectName">@Model.demand</span> <span>
                                                    BBTUD</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">Jarak Sumber Ke Pelanggan</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;" id="projectName"
                                                    class="formatNum">@Model.jarakSumber</span> <span>
                                                    Km</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">Jumlah Pelanggan</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;"
                                                    id="projectName">@Model.jumlahPelanggan</span>  <span>
                                                    pelanggan</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 " style="font-weight:bold;">ISO Tank</label>
                                    </div> 
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">&nbsp; &nbsp; Size</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;"
                                                    id="projectName">@Model.size</span> <span>
                                                    ft</span></label>
                                        </div>
                                    </div>                                   
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">&nbsp; &nbsp; Volume</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;" id="projectName"
                                                    >@Model.volume</span>  <span>
                                                    m3</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">Speed</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;" id="projectName"
                                                    >@Model.speed</span>  <span>
                                                    Km/Jam</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">Quantity of Truck</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;" id="projectName"
                                                    >@Model.qtyTruck</span>  <span>
                                                    unit</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">Est. Round Trip</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;" id="projectName"
                                                    class="formatNum">@Model.estRoundTrip</span> <span>
                                                    days</span></label>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row ">
                                        <label class="control-label col-md-4 col-sm-4 ">Asal Sumber</label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <label class="control-label col-md-9 col-sm-9">: <span
                                                    style="font-weight:bold;" id="projectName"
                                                    >@Model.asalSumber</span> </label>
                                        </div>
                                    </div>
                                    <label>Result - Supply Chain</label>
                                    <div class="search-table-outter wrapper">
	                                            <table class="search-table inner">
		                                            <tr>
			                                            <th colspan="3" class="bg-col">Demand</th>
			                                            <th rowspan="2" class="bg-col">Qty of Truck</th>
			                                            <th rowspan="2" class="bg-col">Qty of VGL</th>
			                                            <th rowspan="2" class="bg-col">ISO Tank Required</th>
		                                            </tr>
                                                    <tr>
			                                            <th class="bg-col">(BBTUD)</th>
			                                            <th class="bg-col">(m3/day)</th>
			                                            <th class="bg-col">(ISO Tank/day)</th>
		                                            </tr>
                                                    <tr>
			                                            <td>@Model.demand</td> 
			                                            <td>@Model.m3Day</td> 
			                                            <td>@Model.isoTankDay</td> 
			                                            <td>@Model.qtyTruck</td> 
			                                            <td>@Model.qtyVGL</td> 
			                                            <td>@Model.isoTank</td> 
		                                            </tr>

	                                            </table>                                               
                                            </div>
                                            <br />
                                    <label>Result - Cost Estimation</label>
                                    <div class="search-table-outter wrapper">
	                                            <table class="search-table inner">
                                                    <tr>
			                                            <th class="bg-col">Transportation Cost USD/MMBTU</th>
			                                            <th class="bg-col">Hub/Filling Fee USD/MMBTU</th>
			                                            <th class="bg-col">Distribution Cost USD/MMBTU</th>
			                                            <th class="bg-col">ICP</th>
			                                            <th class="bg-col">Total Cost USD/MMBTU</th>
		                                            </tr>
                                                    <tr>
			                                            <td>@Model.TransportCost</td> 
			                                            <td>@Model.HubFillingCost</td> 
			                                            <td>@Model.DistributionCost</td> 
			                                            <td>@Model.ICPCost</td> 
			                                            <td style="font-weight:bold;">@Model.TotalCost</td> 
		                                            </tr>

	                                            </table>                                               
                                            </div>
                                            <br />
                                    <label>Route Map</label>
                                    <div class="form-group row ">

                                        <div class="col-md-3 col-sm-3 ">
                                            <a href="#" onclick="mapp()" class="btn btn-success btn-sm"
                                                style="height:24px; width:100%; line-height:1;">Route Map</a>
                                        </div>

                                    </div>
                                 </form>

                                   


                                <form class="form-horizontal form-label-left">

                                    <div class="row">
                                        <div class="col-md-12" >
                                            <div class="search-table-outter wrapper">
                                                <label style="color:#2d500e"><strong>CAPEX</strong></label>
                                                <br />
                                                <label><strong>Transportation Cost</strong></label>
                                                <br />
	                                            <table class="search-table inner" id="tableCapex1">
                                                    <thead>
                                                       <tr>
			                                            <th>Item</th>
			                                            <th>Price per unit</th>
			                                            <th>Quantity</th>
			                                            <th>Total Price (USD)</th>
			                                            <th>Total Price (IDR)</th>
			                                            <th>USD/bln</th>
			                                            <th>Rp/bln</th>
			                                            <th>USD/MMBTUD</th>
			                                            <th>Rp/m3</th>
		                                            </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>   
	                                            </table>                                               
                                            </div>

                                            <br />

                                            <div class="search-table-outter wrapper">
                                                <label><strong>Hub/Filling Cost</strong></label>
                                                <br />
                                                <table class="search-table inner" id="tableCapex2">
                                                    <thead>
                                                       <tr>
			                                            <th>Hub/Filling Cost</th>
			                                            <th>Price per unit</th>
			                                            <th>Quantity</th>
			                                            <th>Total Price (USD)</th>
			                                            <th>Total Price (IDR)</th>
			                                            <th>USD/bln</th>
			                                            <th>Rp/bln</th>
			                                            <th>USD/MMBTUD</th>
			                                            <th>Rp/m3</th>
		                                            </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>   
	                                            </table>                                        
                                            </div>

                                            <br />

                                            <div class="search-table-outter wrapper">
                                                <label><strong>Distribution Cost</strong></label>
                                                <br />
                                                <table class="search-table inner" id="tableCapex3">
                                                    <thead>
                                                       <tr>
			                                             <th>Distribution Cost</th>
			                                            <th>Price per unit</th>
			                                            <th>Quantity</th>
			                                            <th>Total Price (USD)</th>
			                                            <th>Total Price (IDR)</th>
			                                            <th>USD/bln</th>
			                                            <th>Rp/bln</th>
			                                            <th>USD/MMBTUD</th>
			                                            <th>Rp/m3</th>
		                                            </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>   
	                                            </table>                                        
                                            </div>
                                            <hr class="style11">
                                            <div class="search-table-outter wrapper">
                                                <label style="color:#2d500e"><strong>OPEX</strong></label>
                                                <br />
                                                <label><strong>Transportation Cost</strong></label>
                                                <br />
                                                <table class="search-table inner" id="tableOpex1">
                                                    <thead>
                                                       <tr>
			                                            <th>Item</th>
			                                            <th>Price per unit</th>
			                                            <th>Quantity</th>
			                                            <th>Total Price (USD)</th>
			                                            <th>Total Price (IDR)</th>
			                                            <th>USD/bln</th>
			                                            <th>Rp/bln</th>
			                                            <th>USD/MMBTUD</th>
			                                            <th>Rp/m3</th>
		                                            </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>   
	                                            </table>
                                            </div>
                                            <br />

                                            <div class="search-table-outter wrapper">
                                                <label><strong>Hub/Filling Cost</strong></label>
                                                <br />
                                                <table class="search-table inner" id="tableOpex2">
                                                    <thead>
                                                       <tr>
			                                            <th>Hub/Filling Cost</th>
			                                            <th>Price per unit</th>
			                                            <th>Quantity</th>
			                                            <th>Total Price (USD)</th>
			                                            <th>Total Price (IDR)</th>
			                                            <th>USD/bln</th>
			                                            <th>Rp/bln</th>
			                                            <th>USD/MMBTUD</th>
			                                            <th>Rp/m3</th>
		                                            </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>   
	                                            </table>                                       
                                            </div>
                                            
                                            <br />

                                            <div class="search-table-outter wrapper">
                                                <label><strong>Distribution Cost</strong></label>
                                                <br />
                                                <table class="search-table inner" id="tableOpex3">
                                                    <thead>
                                                       <tr>
			                                            <th>Distribution Cost</th>
			                                            <th>Price per unit</th>
			                                            <th>Quantity</th>
			                                            <th>Total Price (USD)</th>
			                                            <th>Total Price (IDR)</th>
			                                            <th>USD/bln</th>
			                                            <th>Rp/bln</th>
			                                            <th>USD/MMBTUD</th>
			                                            <th>Rp/m3</th>
		                                            </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>   
	                                            </table>                                       
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12  offset-md-3" style="margin-top:10px ;">
                                <button type="submit" onclick="backResult();"
                                    class="btn btn-warning btn-sm pull-right RbtnMargin">Back</button>
                            </div>
                        </div>
                    </div>

                    <div id="maps">
                        <center>
                            <div id="map" class="map"></div>
                        </center>
                        <div class="row">
                            <div class="col-md-12 col-sm-12  offset-md-3" style="margin-top:10px ;">
                                <button type="submit" onclick="back()"
                                    class="btn btn-danger btn-sm pull-right RbtnMargin">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{

<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
<!-- Leaflet Map -->

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css" />
@*
<link rel="stylesheet" href="~/plugins/leaflet/index.css" />*@
<style>
    .bg-col{
        background:#c8c8cd;
    }
    /*.search-table-outter {border:2px solid red;}*/
.search-table{table-layout: fixed; margin:0px auto 0px auto; }
.search-table, td, th{border-collapse:collapse; border:1px solid #777;}
th{padding:5px 5px; font-size:12px; color:#444; background:#ffeb3b;text-align: center;}
td{padding:5px 10px; height:10px;text-align: center;}

.search-table-outter { overflow-x: scroll; }
th, td { min-width: 150px; }
    .map {
        height: 400px;
        width: 640px;
    }

    .results {
        background-color: white;
        opacity: 0.8;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 320px;
        height: 480px;
        overflow-y: scroll;
    }

    .style11{
        border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }
</style>
}

@section Scripts{
<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>

<script>

    $(document).ready(function () {
        var IDs = '@(Model.HeaderSimulationID)';
         var tbody1 = $('#tableCapex1').children('tbody');
         var tbody2 = $('#tableCapex2').children('tbody');
         var tbody3 = $('#tableCapex3').children('tbody');
         var tbody4 = $('#tableOpex1').children('tbody');
         var tbody5 = $('#tableOpex2').children('tbody');
         var tbody6 = $('#tableOpex3').children('tbody');

        //Then if no tbody just select your table 
        var table1 = tbody1.length ? tbody1 : $('#tableCapex1');
        var table2 = tbody2.length ? tbody2 : $('#tableCapex2');
        var table3 = tbody3.length ? tbody3 : $('#tableCapex3');
        var table4 = tbody4.length ? tbody4 : $('#tableOpex1');
        var table5 = tbody5.length ? tbody5 : $('#tableOpex2');
        var table6 = tbody6.length ? tbody6 : $('#tableOpex3');

        $.ajax({
            url: '@Url.Action("GetCapexOpex", "SimulationCost")?id=' + IDs + '&Type=' + 'Capex' + '&Item=' + 'Transportation Cost',
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                console.log(data.data.result);
                if (data.data.result.length > 0) {
                    for (i = 0; i < data.data.result.length; i++) {
                        table1.append('<tr style="color:black;"><td>' + data.data.result[i].description + '</td><td>' + data.data.result[i].priceUnit + '</td><td>' + data.data.result[i].qty + '</td><td>' + data.data.result[i].totalPriceUSD + '</td><td>' + data.data.result[i].totalPriceIDR + '</td><td>' + data.data.result[i].usDperMonth + '</td><td>' + data.data.result[i].idRperMonth + '</td><td style="font-weight:bold;">' + data.data.result[i].usDperMMBTU + '</td><td>' + data.data.result[i].idRperM3 + '</td></tr>');
                        }
                    ;
                }


            },
            error: function (jqXHR) {
                $('#divErrorText').text(jqXHR.responseText);
                $('#divError').show('fade');
            }
        });

        $.ajax({
            url: '@Url.Action("GetCapexOpex", "SimulationCost")?id=' + IDs + '&Type=' + 'Capex' + '&Item=' + 'Hub Filling Cost',
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                console.log(data.data.result);
                if (data.data.result.length > 0) {
                    for (i = 0; i < data.data.result.length; i++) {
                        table2.append('<tr style="color:black;"><td>' + data.data.result[i].description + '</td><td>' + data.data.result[i].priceUnit + '</td><td>' + data.data.result[i].qty + '</td><td>' + data.data.result[i].totalPriceUSD + '</td><td>' + data.data.result[i].totalPriceIDR + '</td><td>' + data.data.result[i].usDperMonth + '</td><td>' + data.data.result[i].idRperMonth + '</td><td style="font-weight:bold;">' + data.data.result[i].usDperMMBTU + '</td><td>' + data.data.result[i].idRperM3 + '</td></tr>');
                        }
                    ;
                }


            },
            error: function (jqXHR) {
                $('#divErrorText').text(jqXHR.responseText);
                $('#divError').show('fade');
            }
        });

        $.ajax({
            url: '@Url.Action("GetCapexOpex", "SimulationCost")?id=' + IDs + '&Type=' + 'Capex' + '&Item=' + 'Distribution Cost',
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                console.log(data.data.result);
                if (data.data.result.length > 0) {
                    for (i = 0; i < data.data.result.length; i++) {
                        table3.append('<tr style="color:black;"><td>' + data.data.result[i].description + '</td><td>' + data.data.result[i].priceUnit + '</td><td>' + data.data.result[i].qty + '</td><td>' + data.data.result[i].totalPriceUSD + '</td><td>' + data.data.result[i].totalPriceIDR + '</td><td>' + data.data.result[i].usDperMonth + '</td><td>' + data.data.result[i].idRperMonth + '</td><td style="font-weight:bold;">' + data.data.result[i].usDperMMBTU + '</td><td>' + data.data.result[i].idRperM3 + '</td></tr>');
                        }
                    ;
                }


            },
            error: function (jqXHR) {
                $('#divErrorText').text(jqXHR.responseText);
                $('#divError').show('fade');
            }
        });

        $.ajax({
            url: '@Url.Action("GetCapexOpex", "SimulationCost")?id=' + IDs + '&Type=' + 'Opex' + '&Item=' + 'Transportation Cost',
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                console.log(data.data.result);
                if (data.data.result.length > 0) {
                    for (i = 0; i < data.data.result.length; i++) {
                        table4.append('<tr style="color:black;"><td>' + data.data.result[i].description + '</td><td>' + data.data.result[i].priceUnit + '</td><td>' + data.data.result[i].qty + '</td><td>' + data.data.result[i].totalPriceUSD + '</td><td>' + data.data.result[i].totalPriceIDR + '</td><td>' + data.data.result[i].usDperMonth + '</td><td>' + data.data.result[i].idRperMonth + '</td><td style="font-weight:bold;">' + data.data.result[i].usDperMMBTU + '</td><td>' + data.data.result[i].idRperM3 + '</td></tr>');
                        }
                    ;
                }


            },
            error: function (jqXHR) {
                $('#divErrorText').text(jqXHR.responseText);
                $('#divError').show('fade');
            }
        });

        $.ajax({
            url: '@Url.Action("GetCapexOpex", "SimulationCost")?id=' + IDs + '&Type=' + 'Opex' + '&Item=' + 'Hub Filling Cost',
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                console.log(data.data.result);
                if (data.data.result.length > 0) {
                    for (i = 0; i < data.data.result.length; i++) {
                        table5.append('<tr style="color:black;"><td>' + data.data.result[i].description + '</td><td>' + data.data.result[i].priceUnit + '</td><td>' + data.data.result[i].qty + '</td><td>' + data.data.result[i].totalPriceUSD + '</td><td>' + data.data.result[i].totalPriceIDR + '</td><td>' + data.data.result[i].usDperMonth + '</td><td>' + data.data.result[i].idRperMonth + '</td><td style="font-weight:bold;">' + data.data.result[i].usDperMMBTU + '</td><td>' + data.data.result[i].idRperM3 + '</td></tr>');
                        }
                    ;
                }


            },
            error: function (jqXHR) {
                $('#divErrorText').text(jqXHR.responseText);
                $('#divError').show('fade');
            }
        });

        $.ajax({
            url: '@Url.Action("GetCapexOpex", "SimulationCost")?id=' + IDs + '&Type=' + 'Opex' + '&Item=' + 'Distribution Cost',
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                console.log(data.data.result);
                if (data.data.result.length > 0) {
                    for (i = 0; i < data.data.result.length; i++) {
                        table6.append('<tr style="color:black;"><td>' + data.data.result[i].description + '</td><td>' + data.data.result[i].priceUnit + '</td><td>' + data.data.result[i].qty + '</td><td>' + data.data.result[i].totalPriceUSD + '</td><td>' + data.data.result[i].totalPriceIDR + '</td><td>' + data.data.result[i].usDperMonth + '</td><td>' + data.data.result[i].idRperMonth + '</td><td style="font-weight:bold;">' + data.data.result[i].usDperMMBTU + '</td><td>' + data.data.result[i].idRperM3 + '</td></tr>');
                        }
                    ;
                }


            },
            error: function (jqXHR) {
                $('#divErrorText').text(jqXHR.responseText);
                $('#divError').show('fade');
            }
        });

    $.ajax({
        url: '@Url.Action("Retrieve", "MstHubLNG")',
        type: 'post',
        dataType: 'json',
        success: function (response) {

            var len = response.data.length;
            var locationMaps = {};
            locationMaps["features"] = [];
            for (var i = 0; i < len; i++) {

                let temp = {
                    "type": "Feature",
                    "properties": { "oficina": response.data[i].namaSPBG },
                    "geometry": { "type": "Point", "coordinates": [response.data[i].longitude, response.data[i].latitude] }
                }
                locationMaps.features.push(temp);
            }
            var ofi_paf = locationMaps;

           
             var latSPBG = '@(Model.latSumber)';
            var longSPBG = '@(Model.longSumber)';
            var latPel = '@(Model.latPelanggan)';
            var longPel = '@(Model.longPelanggan)';

            var greenIcon = new L.Icon({
                iconUrl: '/plugins/map/images/user.png',
                iconSize: [32, 37],
                iconAnchor: [16, 37],
                popupAnchor: [0, -28]
            });
            var greenIcons = new L.Icon({
                iconUrl: '/plugins/map/images/pertacon.png',
                iconSize: [32, 37],
                iconAnchor: [16, 37],
                popupAnchor: [0, -28]
            });

            L.mapbox.accessToken = 'pk.eyJ1IjoiZmFyYWRheTIiLCJhIjoiTUVHbDl5OCJ9.buFaqIdaIM3iXr1BOYKpsQ';

            var mapboxTiles = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
                attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                tileSize: 512,
                zoomOffset: -1
            });

            var map = L.map('map')
                .addLayer(mapboxTiles)
                .setView([42.3610, -71.0587], 15);
            L.Routing.control({
                router: L.Routing.mapbox(L.mapbox.accessToken, {
                    profile: 'mapbox/driving',
                    language: 'en',
                }),
                waypoints: [
                    L.latLng(latPel, longPel),
                    L.latLng(latSPBG, longSPBG)
                ],
                createMarker: function (j, wp, nWps) {
                    if (j === 0) {
                        return L.marker(wp.latLng, { icon: greenIcon }).bindPopup("Customer");
                    } else if (j === nWps - 1) {
                        return L.marker(wp.latLng, { icon: greenIcons }).bindPopup(`afafg`);
                    }
                },
                routeWhileDragging: true,
	            reverseWaypoints: true,
	            showAlternatives: true,
	            altLineOptions: {
		            styles: [
			            {color: 'black', opacity: 0.15, weight: 9},
			            {color: 'white', opacity: 0.8, weight: 6},
			            {color: 'blue', opacity: 0.5, weight: 2}
		            ]
	            }
            }).addTo(map);

            $("#maps").hide();
            

            var farmacias = L.geoJson(ofi_paf, {
                onEachFeature: popup,
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng, { icon: eco });
                }
            }).addTo(map);


        }
    });

       

        let x = document.querySelectorAll(".formatNum");
        for (let i = 0, len = x.length; i < len; i++) {

            let num = Number(x[i].textContent)
                .toLocaleString('en');
            x[i].textContent = num;
        }



    });
</script>

<script type="text/javascript">

     function popup(feature, layer) {
                    if (feature.properties && feature.properties.oficina) {
                        layer.bindPopup(feature.properties.oficina, {
                            closeButton: false,
                            offset: L.point(0, -20)
                        });
                        layer.on('mouseover', function () {
                            layer.openPopup();
                        });
                        layer.on('mouseout', function () {
                            layer.closePopup();
                        });
                    }
                };

                var eco = L.icon({
                    iconSize: [32, 37],
                    iconAnchor: [16, 37],
                    popupAnchor: [0, -28],
                    iconUrl: '/plugins/map/images/pertacon.png'
                });



</script>

<script type="text/javascript">
    //maps
    function back() {
        $("#maps").hide();
        $("#resultSimulation").show();
    }

    function mapp() {
        $("#maps").show();
        $("#resultSimulation").hide();
    }


    function Details(Id) {
        var url = '@Url.Action("Index", "SimulationCost")?Id=' + Id;
        window.location.href = url;
    }

    function backResult() {
        var ids = @(Model.HeaderSimulationID);
        var url = '@Url.Action("Result", "SimulationCost")?Id=' + ids;
        window.location.href = url;
    }
</script>
}