@model SiappGasIn.Models.HeaderCluster
@{
    ViewData["Title"] = "Result Simulation Cost";
}
<div class="container body" style="padding-left:230px;padding-right:230px;margin-top:-7px;">
    <div class="card">
        <div class="row ">
            <div class="col-md-12 px-3">
                <div class="card-block" style="border: 1px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h5 class="card-title font-bold batasAtas">Cost Structure Simulation Software</h5>
                        </div>
                        <div class="col-md-5"><img src="@Url.Content("~/adminlte/images/logos.png")"
                                class="image-responsive" style="width:120px; height:40px; float: right;"></div>
                    </div>

                    <div id="resultCluster">
                        <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin"
                            style="margin-top: 7px;">
                            <div class="card-body" style="margin: 15px ;">
                                <form class="form-horizontal form-label-left">
                                    <label>Result Cluster Simulatioan</label>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Cluster Name</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <label class="control-label col-md-9 col-sm-9"><span
                                                    id="projectName">: @Model.ClusterName</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Total Customer</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <label class="control-label col-md-9 col-sm-9"><span
                                                    id="creator">: @Model.CountCapel</span> </label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Total Volume</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <label class="control-label col-md-9 col-sm-9"><span 
                                                    id="creator">: @Model.TotalVolume</span> <span style="font-weight:bold;">M3/ Bln</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Date</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <label class="control-label col-md-9 col-sm-9 release-date"><span
                                                    id="projectDate">: @Model.CreatedDate</span></label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 "></label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <label class="control-label col-md-9 col-sm-9">
                                                <a href="#" onclick="mapp()" class="btn btn-success btn-sm"
                                                        style="height:24px;  line-height:1;">Cluster Route Map</a>
                                            </label>
                                            
                                        </div>
                                    </div>
                                    
                                    <label><strong>Supply Scenario</strong></label>
                                    <br />

                                    <table class="table table-bordered" id="tableSimulation">
                                        <thead>
                                            <tr>
                                                <th style="width:10%; text-align:center; font-size:12px;">No.</th>
                                                <th style="width:25%; text-align:center; font-size:12px;">Customer
                                                </th>
                                                <th style="width:15%; text-align:center; font-size:12px;">Volume / Bln</th>
                                                <th style="width:10%; text-align:center; font-size:12px;">Jarak</th>
                                                <th style="width:10%; text-align:center; font-size:12px;">Harga Jual</th>
                                                <th style="width:15%; text-align:center; font-size:12px;">Remarks</th>
                                                <th style="width:10%; text-align:center; font-size:12px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                            </tr>


                                        </tbody>
                                    </table>

                                </form>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12  offset-md-3" style="margin-top:10px ;">
                                <button type="submit" onclick="back()"
                                    class="btn btn-danger btn-sm pull-right RbtnMargin">Close</button>
                            </div>
                        </div>
                       
                    </div>

                     <div id="maps">
                        <center><div id="map" class="map"></div></center>
                        <div class="row">
                            <div class="col-md-12 col-sm-12  offset-md-3" style="margin-top:10px ;">
                                <button type="submit" onclick="_back()"
                                    class="btn btn-danger btn-sm pull-right RbtnMargin">Close</button>                               
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
<style type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
</style>
<style type="text/css" src="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"></style>

<style>
     .map {
        height: 400px;
        width: 640px;
    }
    #example_filter input {
        border-radius: 5px;
        height: 24px;
        float: right;

        margin-left: -20;
        margin-left: 10px;
        width: 246px;

    }

    .modal-backdrop {
        background-color: rgba(0, 0, 0, .0001) !important;
    }

    .modal {
        text-align: center;
        padding: 0 !important;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
        /* Adjusts for spacing */
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }
    .redCell{
    color:red;
    }
    .greenCell{
        color:forestgreen;
    }
</style>
<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
<!-- Leaflet Map -->

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css" />
@*
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">*@
}
@section Scripts{
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>


<script type="text/javascript">
    function back() {
        var url = '@Url.Action("Cluster", "SimulationCost")';
        window.location.href = url;
    }

    function Details(Infra,Id) {
        if (Infra == "CNG") {
            var url = '@Url.Action("DetailCluster", "SimulationCost")?Id=' + Id;
            window.location.href = url;
        }
        else if (Infra == "Pipeline") {
            var url = '@Url.Action("DetailPipe", "SimulationCost")?Id=' + Id;
            window.location.href = url;
        }
        else {
            console.log("error");
        }
    }

    function _back() {
        $("#maps").hide();
        $("#resultCluster").show();
    }

    function mapp() {
        $("#maps").show();
        $("#resultCluster").hide();

        var greenIcon = new L.Icon({
                iconUrl: '/plugins/map/images/user.png',
                iconSize: [32, 37],
                iconAnchor: [16, 37],
                popupAnchor: [0, -28]
            });
            var greenIcons = new L.Icon({
                iconUrl: '/plugins/map/images/pertacon.png',
                iconSize: [32, 37],
                iconAnchor: [16, 37],
                popupAnchor: [0, -28]
            });

         L.mapbox.accessToken = 'pk.eyJ1IjoiZmFyYWRheTIiLCJhIjoiTUVHbDl5OCJ9.buFaqIdaIM3iXr1BOYKpsQ';

                var mapboxTiles = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
                    attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    tileSize: 512,
                    zoomOffset: -1
                });

                var map = L.map('map')
                    .addLayer(mapboxTiles)
                    .setView([42.3610, -71.0587], 15);

                    var ID = '@(Model.HeaderClusterID)';
        $.ajax({
            url: '@Url.Action("RetrievesRouteCluster", "SimulationCost")?id=' + ID,
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                if (data.data.length > 0) {
                    for (i = 0; i < data.data.length; i++) {
                        var num = i + 1;

                        L.Routing.control({
                router: L.Routing.mapbox(L.mapbox.accessToken, {
                    profile: 'mapbox/driving',
                    language: 'en',
                }),
                waypoints: [
                    L.latLng(data.data[i].latitude, data.data[i].longitude),
                    L.latLng(data.data[i].latitude2, data.data[i].longitude2)
                ],
                createMarker: function (j, wp, nWps) {
                    if (j === 0) {
                        return L.marker(wp.latLng, { icon: greenIcon }).bindPopup(data.data[i].customerName);
                    } else if (j === nWps - 1) {
                        return L.marker(wp.latLng, { icon: greenIcons }).bindPopup(data.data[i].asalStation);
                    }
                },
                routeWhileDragging: true,
	            reverseWaypoints: true,
	            showAlternatives: false,
	            altLineOptions: {
		            styles: [
			            {color: 'black', opacity: 0.15, weight: 9},
			            {color: 'white', opacity: 0.8, weight: 6},
			            {color: 'blue', opacity: 0.5, weight: 2}
		            ]
	            }
            }).addTo(map);
                       
                     };
                }
            },
            error: function (jqXHR) {
                $('#divErrorText').text(jqXHR.responseText);
                $('#divError').show('fade');
            }
        });
                
                    map.invalidateSize();
    }
    $(document).ready(function () {
        $("#maps").hide();
        $('.release-date').each( function() {
  
          var format = ": " + "DD MMM YYYY";

          var $this = $( this );
          var old_date = $.trim($this.text());
          var new_date = moment(old_date , 'DD/MM/YYYY').format( format );

          $this.text($this.text().replace(old_date, new_date));
        });
        
        var tbody = $('#tableSimulation').children('tbody');

        //Then if no tbody just select your table 
        var table = tbody.length ? tbody : $('#tableSimulation');
        var ID = '@(Model.HeaderClusterID)';
        $.ajax({
            url: '@Url.Action("RetrievesCluster", "SimulationCost")?id=' + ID,
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                if (data.data.length > 0) {
                    for (i = 0; i < data.data.length; i++) {
                        var num = i + 1;

                         table.append('<tr><td>' + num + '</td><td>' + data.data[i].customerName + '</td><td>' + data.data[i].infrastructure + '</td><td class="formatNum">' + data.data[i].jarak + ' Km' + '</td><td  style="font-weight:bold;" class="formatNum">' + data.data[i].hargaJual +' $/MMBtu ' + '</td><td>' + data.data[i].asalStation + '</td><td><a href="#" class="badge badge-danger" onclick=Details("' + data.data[i].infrastructure + '","' + data.data[i].clusterSimulationID + '"); >Detail</a></td></tr>');
                        
                     };
                }
            },
            error: function (jqXHR) {
                $('#divErrorText').text(jqXHR.responseText);
                $('#divError').show('fade');
            }
        });


        $("td.formatNum").each(function() { $(this).html(parseFloat($(this).text()).toLocaleString('en-US', {style: 'currency', currency: 'USD'})); })
        let x = document.querySelectorAll(".formatNum");
        for (let i = 0, len = x.length; i < len; i++) {

            let num = Number(x[i].textContent)
                .toLocaleString('en');
            x[i].textContent = num;
        }

    });
</script>
}