
<div class="container body" style="padding-left:230px;padding-right:230px; margin-top:-7px;"> 
    <div class="card">
          <div class="row ">      
            <div class="col-md-12 px-3">
              <div class="card-block" style="border: 1px;">
                <div class="row">
                    <div class="col-md-7"><h5 class="card-title font-bold batasAtas" >Cost Structure Simulation Software</h5></div>
                    <div class="col-md-5"><img src="@Url.Content("~/adminlte/images/logos.png")" class="image-responsive" style="width:120px; height:40px; float: right;"></div>
               </div>
			   <div class="card" style="margin-top: 7px;">
	<div class="card-body" style="margin: 15px ;">
		<a href="#" onclick="addData()" class="btn btn-success btn-sm" style="margin-bottom:10px;">Add Data</a>
		<br />
		  <table id="example" class="table table-striped display" style="width:100%">
	   <thead>
		   <tr>
			   <th>Role Name</th>
			   <th></th>
			   <th></th>
		   </tr>
	   </thead>
	  
   </table>
		 
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addData">
 <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
   <div class="modal-content">
	 <div class="modal-header">
	   <h5 class="modal-title">Tambah Data Role</h5>
	   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		 <span aria-hidden="true">&times;</span>
	   </button>
	 </div>
	 <div class="modal-body">
	   <form>
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Nama Role</label>
		   <input type="text" class="form-control" id="Name">
		 </div> 				
	   </form>
	 </div>
	 <div class="modal-footer">
	   <button type="button" class="btn btn-primary" id="saveEnergy">Save changes</button>
	   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	 </div>
   </div>
 </div>
</div>

<!--Edit Modal-->


<div class="modal" tabindex="-1" role="dialog" id="editData">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
	 <div class="modal-header">
	   <h5 class="modal-title">Ubah Data</h5>
	   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		 <span aria-hidden="true">&times;</span>
	   </button>
	 </div>
	 <div class="modal-body">
	   <form>
		   
		 <input type="hidden" class="form-control" id="CraddleIDs" name="CraddleIDs" hidden>
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Flowrate (m3/h)</label>
		   <input type="text" class="form-control" id="Flowrates">
		 </div> 
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Ukuran GTM</label>
		   <input type="text" class="form-control" id="UkuranGTMs">
		 </div>
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Harga Beli</label>
		   <input type="number" class="form-control" id="HargaBelis"  placeholder="Rp / Unit">
		 </div>
		<div class="form-group">
		   <label for="recipient-name" class="col-form-label">Harga Sewa</label>
		   <input type="number" class="form-control" id="HargaSewas" placeholder="Rp / Unit / Bulan">
		 </div>
		  <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Filling Time</label>
		   <input type="number" class="form-control" id="FillingTimes" placeholder="Rp / Lumpsum">
		 </div>
		  <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Waiting Time</label>
		   <input type="number" class="form-control" id="WaitingTimes" >
		 </div>	  
		  
		
	   </form>
	 </div>
	 <div class="modal-footer">
	   <button type="button" class="btn btn-primary" id="btnEditEnergy">Save changes</button>
	   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	 </div>
   </div>
 </div>
</div>

               
               
             
               
              </div>
            </div>
          </div>
        </div>   
    </div>   

@section Styles{
   <style type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"></style>
   <style type="text/css" src="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"></style>
   <style>
	   #example_filter input {
 border-radius: 5px;
 height: 24px;
 float:right;
 
   margin-left: -20;
   margin-left: 10px;
   width: 246px;

}
.modal-backdrop {
	background-color: rgba(0,0,0,.0001) !important;
}
.modal {
 text-align: center;
 padding: 0!important;
 overflow-y:scroll;
}

.modal-body{
    height: 350px;
    overflow-y: auto;
}

.modal:before {
 content: '';
 display: inline-block;
 height: 100%;
 vertical-align: middle;
 margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
 display: inline-block;
 text-align: left;
 vertical-align: middle;
}
th, td { white-space: nowrap; }
   div.dataTables_wrapper {
	   margin: 0 auto;
   }

   </style>
   @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">*@
}
@section Scripts{

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>                   
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>                   
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>  
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



<script>
	function addData() {
   $('#addData').modal('show');
}
$('#btnEditEnergy').click(function () {
    
		   $.ajax({
			   
		   url: '@Url.Action("EditData", "MstCraddle")',
			   type: 'POST',
			   //crossDomain: true,
			   dataType: 'json',
			   //headers: {
			   //    'Accept': 'application/json',
			   //    'Content-Type': 'application/json'
			   //},
			   //headers: { 'Access-Control-Allow-Origin': 'The web site allowed to access' },
			   contentType: "application/json; charset=utf-8",
			   data: JSON.stringify(
				   {		
					   "CraddleID": $("#CraddleIDs").val(),
					   "Flowrate": $("#Flowrates").val(),
					   "UkuranGTM": $("#UkuranGTMs").val(),
					   "HargaBeli": $("#HargaBelis").val(),
					   "HargaSewa": $("#HargaSewas").val(),
					   "FillingTime": $("#FillingTimes").val(),
					   "WaitingTime": $("#WaitingTimes").val(),
				   }
			   ),
			   success: function (data) {
				   //alert(data);
				   if (data == true) {

					   $("#CraddleIDs").val("");
					   $("#Flowrates").val("");
					   $('#UkuranGTMs').val("");
					   $('#HargaBelis').val("");
					   $('#HargaSewas').val("");
					   $('#FillingTimes').val("");
					   $('#WaitingTimes').val("");

					   oTable = $('#example').DataTable();
					   oTable.draw();

					   $('#msgText').text('Customer Info is added Successfully');
					   $('#successModal').modal('show');
					   location.reload();
				   }

			   },
			   error: function (jqXHR) {
				   $('#divErrorText').text(jqXHR.responseText);
				   $('#divError').show('fade');
			   }
		   });
	   });
  

function EditData(dataID) {
	   $.ajax({
		   url: '@Url.Action("SelectData", "MstCraddle")?id=' + dataID,
		   type: 'get',
		   //crossDomain: true,
		   dataType: 'json',
		   //headers: {
		   //    'Accept': 'application/json',
		   //    'Content-Type': 'application/json'
		   //},
		   //headers: { 'Access-Control-Allow-Origin': 'The web site allowed to access' },
		   contentType: "application/json; charset=utf-8",
		   data: "{}", //JSON.stringify({ CustomerID : CustomerID }),
		   success: function (data) {
			   if (data.status == true) {
					   $("#CraddleIDs").val(data.data.craddleID);
					   $("#Flowrates").val(data.data.flowrate);
					   $('#UkuranGTMs').val(data.data.ukuranGTM);
					   $('#HargaBelis').val(data.data.hargaBeli);
					   $('#HargaSewas').val(data.data.hargaSewa);
					   $('#FillingTimes').val(data.data.fillingTime);
					   $('#WaitingTimes').val(data.data.waitingTime);
				   
				   
				   $("#editData").modal("show");
				   
			   }
			   else {
				   alert("HUHAUHDA");
			   }
		   },
		   error: function (jqXHR) {
			   $('#divErrorText').text(jqXHR.responseText);
			   $('#divError').show('fade');
		   }
	   });





   }

$('#saveEnergy').click(function () {
    var datas = {};
    datas.Id = null;
    datas.Name = $("#Name").val();
		   $.ajax({
			   url: '@Url.Action("Form", "SysRole")',
			   type: 'POST',
			   dataType: 'json',
			   contentType: "application/json; charset=utf-8",
			   data: 
				  JSON.stringify({
               "Name": $("#Name").val(),
					  
            })
			   ,
			   success: function (data) {
				   //alert(data);
				   if (data == true) {

					   $("#Name").val("");
					  
					   $('#msgText').text('Data is added Successfully');
					   $('#successModal').modal('show'); 
					   alert("SUKSES");
					   location.reload();
				   }

			   },
			   error: function (jqXHR) {
				   $('#divErrorText').text(jqXHR.responseText);
				   $('#divError').show('fade');
			   }
		   });
	   });

	   function DeleteData(id) {
	   if (confirm("Are you sure you want to delete ...?")) {
		   Delete(id);
	   }
	   else {
		   return false;
	   }
   }


   function Delete(id) {
	  
	   $.ajax({
   url: '@Url.Action("Delete", "MstCraddle")?CraddleID=' +id,
   
   method: 'POST',
   contentType: 'application/json',
		   success: function(data) {
			   if (data) {
				   oTable = $('#example').DataTable();
				   oTable.draw();
			   }
			   else {
				   alert("Something Went Wrong!");
			   }
		   },
   error: function(request,msg,error) {
	   // handle failure
   }
});
   }

</script>
<script type="text/javascript">

	

   $(document).ready(function () {
 //  var table = $('#example').DataTable( {
 //  pageLength : 5,
 //  lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
 //} )

 $("#example").DataTable({
			"processing": true, // for show progress bar
		   "serverSide": false, // for process server side
		   "filter": true, // this is for disable filter (search box)
		   "orderMulti": false, // for disable multiple column at once
		   "lengthMenu": [[5, 10, 20, -1, 2], [5, 10, 20, 50,100]],
		   "pagingType": "simple_numbers",
	 //      "sDom": '<"row view-filter"<"col-sm-12"<"pull-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
	 "language": {
		 "paginate": {
			 "previous": '<i class="fa fa-angle-left" style="color: #27c2a5"></i>',
			 "next": '<i class="fa fa-angle-right" style="color: #27c2a5"></i>'
		 }
	 },
		   "ajax": {
			   "url": '@Url.Action("Retrieves", "SysRole")',
			   "type": "POST",
			   "datatype": "json"
		   },

		  "columns": [
			 
			   { "data": "name", "name": "name", "autoWidth": true },
			   
			   {
				   "render": function (data, type, full, meta) { return '<a href="#" class="badge badge-info" onclick="return EditData(' + full.id + ')">Edit</a>'; }
				   //"render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.CustomerID + '">Edit</a>'; }
			   },
			   {
				   data: null, render: function (data, type, row) {
					   return "<a href='#' class='badge badge-danger' onclick=DeleteData('" + row.id + "'); >Delete</a>";
				   }
			   },

	   ]
 });
 });
 



</script>
			   }