@{
ViewData["Title"] = "Master User";
}
<div class="container body" style="padding-left:230px;padding-right:230px; margin-top:-7px;"> 
    <div class="card">
          <div class="row ">      
            <div class="col-md-12 px-3">
              <div class="card-block" style="border: 1px;">
                <div class="row">
                    <div class="col-md-7"><h5 class="card-title font-bold batasAtas" >Cost Structure Simulation Software</h5></div>
                    <div class="col-md-5"><img src="@Url.Content("~/adminlte/images/logos.png")" class="image-responsive" style="width:120px; height:40px; float: right;"></div>
               </div>
			   <div class="card" style="margin-top: 7px;">
	<div class="card-body" style="margin: 15px ;">
		<a href="#" onclick="addData()" class="btn btn-success btn-sm" style="margin-bottom:10px;">Add Data</a>
		<br />
		  <table id="example" class="table table-striped display" style="width:100%">
	   <thead>
		   <tr>
			   <th>Full Name</th>
			   <th>Email</th>
			   <th></th>
			   <th></th>
			   <th></th>
		   </tr>
	   </thead>
	  
   </table>
		 
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addData">
 <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
   <div class="modal-content">
	 <div class="modal-header">
	   <h5 class="modal-title">Tambah Data Role</h5>
	   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		 <span aria-hidden="true">&times;</span>
	   </button>
	 </div>
	 <div class="modal-body">
	   <form>
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">User Name</label>
		   <input type="text" class="form-control" id="UserName">
		 </div> 				
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Email</label>
		   <input type="text" class="form-control" id="Email">
		 </div> 
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Phone Number</label>
		   <input type="text" class="form-control" id="PhoneNumber">
		 </div> 
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">First Name</label>
		   <input type="text" class="form-control" id="FirstName">
		 </div>
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Last Name</label>
		   <input type="text" class="form-control" id="LastName">
		 </div> 
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Job Title</label>
		   <input type="text" class="form-control" id="JobTitle">
		 </div> 
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">User Role</label>
		    <select class="form-control form-control-sm " id="RoleID">
				<option value="0">- Pilih Role -</option>
			</select>
		 </div> 
		 
	   </form>
	 </div>
	 <div class="modal-footer">
	   <button type="button" class="btn btn-primary" id="saveEnergy">Save changes</button>
	   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	 </div>
   </div>
 </div>
</div>

<!--Edit Modal-->


<div class="modal" tabindex="-1" role="dialog" id="editData">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
	 <div class="modal-header">
	   <h5 class="modal-title">Ubah Data</h5>
	   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		 <span aria-hidden="true">&times;</span>
	   </button>
	 </div>
	 <div class="modal-body">
	   <form>
		   
		 <input type="hidden" class="form-control" id="Ids" name="Ids" hidden>
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">User Name</label>
		   <input type="text" class="form-control" id="UserNames">
		 </div> 				
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Email</label>
		   <input type="text" class="form-control" id="Emails">
		 </div> 
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Phone Number</label>
		   <input type="text" class="form-control" id="PhoneNumbers">
		 </div> 
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">First Name</label>
		   <input type="text" class="form-control" id="FirstNames">
		 </div>
		 <div class="form-group">
		   <label for="recipient-name" class="col-form-label">Last Name</label>
		   <input type="text" class="form-control" id="LastNames">
		 </div> 
	   </form>
	 </div>
	 <div class="modal-footer">
	   <button type="button" class="btn btn-primary" id="btnEditEnergy">Save changes</button>
	   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	 </div>
   </div>
 </div>
</div>

               
               
             
               
              </div>
            </div>
          </div>
        </div>   
    </div>   

@section Styles{
   <style type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"></style>
   <style type="text/css" src="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"></style>
   <style>
	   #example_filter input {
 border-radius: 5px;
 height: 24px;
 float:right;
 
   margin-left: -20;
   margin-left: 10px;
   width: 246px;

}
.modal-backdrop {
	background-color: rgba(0,0,0,.0001) !important;
}
.modal {
 text-align: center;
 padding: 0!important;
 overflow-y:scroll;
}

.modal-body{
    height: 350px;
    overflow-y: auto;
}

.modal:before {
 content: '';
 display: inline-block;
 height: 100%;
 vertical-align: middle;
 margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
 display: inline-block;
 text-align: left;
 vertical-align: middle;
}
th, td { white-space: nowrap; }
   div.dataTables_wrapper {
	   margin: 0 auto;
   }

   </style>
   @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">*@
}
@section Scripts{

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>                   
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>                   
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>  
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



<script>
	function addData() {
   $('#addData').modal('show');
}

function userRole(id){
    var a = id;
    alert(JSON.stringify(a));
}
$('#btnEditEnergy').click(function () {
    
		   $.ajax({
			   
		   url: '@Url.Action("EditData", "SysUser")',
			   type: 'POST',
			   //crossDomain: true,
			   dataType: 'json',
			   //headers: {
			   //    'Accept': 'application/json',
			   //    'Content-Type': 'application/json'
			   //},
			   //headers: { 'Access-Control-Allow-Origin': 'The web site allowed to access' },
			   contentType: "application/json; charset=utf-8",
			   data: JSON.stringify(
				   {		
					   "Id": $("#Ids").val(),
					   "UserName": $("#UserNames").val(),
					   "Email": $("#Emails").val(),
					   "PhoneNumber": $("#PhoneNumbers").val(),
					   "FirstName": $("#FirstNames").val(),
					   "LastName": $("#LastNames").val(),					  
				   }
			   ),
			   success: function (data) {
				   //alert(data);
				   if (data == true) {

					   $("#UserNames").val("");
					   $("#Emails").val("");
					   $('#PhoneNumbers').val("");
					   $('#FirstNames').val("");
					   $('#LastNames').val("");

					   oTable = $('#example').DataTable();
					   oTable.draw();

					   $('#msgText').text('Customer Info is added Successfully');
					   $('#successModal').modal('show');
					   location.reload();
				   }

			   },
			   error: function (jqXHR) {
				   $('#divErrorText').text(jqXHR.responseText);
				   $('#divError').show('fade');
			   }
		   });
	   });
  

function EditData(dataID) {
	   $.ajax({
		   url: '@Url.Action("RetrieveUser", "SysUser")?userId=' + dataID,
		   type: 'post',
		   //crossDomain: true,
		   dataType: 'json',
		   //headers: {
		   //    'Accept': 'application/json',
		   //    'Content-Type': 'application/json'
		   //},
		   //headers: { 'Access-Control-Allow-Origin': 'The web site allowed to access' },
		   contentType: "application/json; charset=utf-8",
		   data: "{}", //JSON.stringify({ CustomerID : CustomerID }),
		   success: function (data) {
			   if (data.status == true) {
					   $("#Ids").val(data.data[0].id);
					   $("#UserNames").val(data.data[0].userName);
					   $('#Emails').val(data.data[0].email);
					   $('#PhoneNumbers').val(data.data[0].phoneNumber);
					   $('#FirstNames').val(data.data[0].firstname);
					   $('#LastNames').val(data.data[0].lastname);
				   
				   
				  $("#editData").modal("show");
				   
			   }
			   else {
				   alert("HUHAUHDA");
			   }
		   },
		   error: function (jqXHR) {
			   $('#divErrorText').text(jqXHR.responseText);
			   $('#divError').show('fade');
		   }
	   });





   }

$('#saveEnergy').click(function () {
    var datas = {};
    datas.Id = null;
    datas.Name = $("#Name").val();
		   $.ajax({
			   url: '@Url.Action("Form", "SysUser")',
			   type: 'POST',
			   dataType: 'json',
			   contentType: "application/json; charset=utf-8",
			   data: 
				  JSON.stringify({
               "UserName": $("#UserName").val(),
               "Email": $("#Email").val(),
               "PhoneNumber": $("#PhoneNumber").val(),
               "FirstName": $("#FirstName").val(),
               "LastName": $("#LastName").val(),
               "JobTitle": $("#JobTitle").val(),
               "RoleID": $("#RoleID").val(),
					  
            })
			   ,
			   success: function (data) {
				   //alert(data);
				   if (data == true) {

					   $("#Name").val("");
					  
					   $('#msgText').text('Data is added Successfully');
					   $('#successModal').modal('show'); 
					   alert("SUKSES");
					   location.reload();
				   }

			   },
			   error: function (jqXHR) {
				   $('#divErrorText').text(jqXHR.responseText);
				   $('#divError').show('fade');
			   }
		   });
	   });

	   function DeleteData(id) {
	   if (confirm("Are you sure you want to delete ...?")) {
		   Delete(id);
	   }
	   else {
		   return false;
	   }
   }


   function Delete(id) {
	  
	   $.ajax({
   url: '@Url.Action("Delete", "MstCraddle")?CraddleID=' +id,
   
   method: 'POST',
   contentType: 'application/json',
		   success: function(data) {
			   if (data) {
				   oTable = $('#example').DataTable();
				   oTable.draw();
			   }
			   else {
				   alert("Something Went Wrong!");
			   }
		   },
   error: function(request,msg,error) {
	   // handle failure
   }
});
   }

</script>
<script type="text/javascript">

	

   $(document).ready(function () {
 $.ajax({
            url: '@Url.Action("RetrieveList", "SysRole")',
            type: 'post',
            dataType: 'json',
            success:function(response){

                var len = response.list.length;
               
                for( var i = 0; i<len; i++){
                    var id = response.list[i].id;
                    var name = response.list[i].name;
                    $("#RoleID").append("<option value='"+id+"'>"+name+"</option>");
                    

                }
            }
			 });

 $("#example").DataTable({
			"processing": true, // for show progress bar
		   "serverSide": false, // for process server side
		   "filter": true, // this is for disable filter (search box)
		   "orderMulti": false, // for disable multiple column at once
		   "lengthMenu": [[5, 10, 20, -1, 2], [5, 10, 20, 50,100]],
		   "pagingType": "simple_numbers",
	 //      "sDom": '<"row view-filter"<"col-sm-12"<"pull-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
	 "language": {
		 "paginate": {
			 "previous": '<i class="fa fa-angle-left" style="color: #27c2a5"></i>',
			 "next": '<i class="fa fa-angle-right" style="color: #27c2a5"></i>'
		 }
	 },
		   "ajax": {
			   "url": '@Url.Action("Retrieves", "SysUser")',
			   "type": "POST",
			   "datatype": "json"
		   },

		  "columns": [
			 
			   { "data": "fullName", "name": "fullName", "autoWidth": true },
			   { "data": "email", "name": "email", "autoWidth": true },
			   
			   {
				   "render": function (data, type, full, meta) { return '<a href="#" class="badge badge-info" onclick="return userRole(' + full.id + ')">Role</a>'; }
				   //"render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.CustomerID + '">Edit</a>'; }
			   },
			   {
				   "render": function (data, type, full, meta) { return '<a href="#" class="badge badge-info" onclick="return EditData(\'' + full.id + '\')">Edit</a>'; }
				   //"render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.CustomerID + '">Edit</a>'; }
			   },
			   {
				   data: null, render: function (data, type, row) {
					   return "<a href='#' class='badge badge-danger' onclick=DeleteData('" + row.id + "'); >Delete</a>";
				   }
			   },

	   ]
 });
 });
 



</script>
			   }