@using Microsoft.Extensions.Options
@using Microsoft.EntityFrameworkCore;
@using SiappGasIn.Models
@inject IOptions<SiappGasIn.Services.IdentityDefaultOptions> identityDefaultOptionsAcc
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager
@inject SiappGasIn.Data.ApplicationDbContext dbContext

@{

    SiappGasIn.Services.IdentityDefaultOptions identityOptions = null;

    try
    {
        var currentUserId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
        var users = await userManager.FindByIdAsync(currentUserId);
        
        identityOptions = identityDefaultOptionsAcc.Value;

    }
    catch
    {

    }

}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="~/adminlte/images/pertamina.png" />

    <title>@ViewData["Title"] - SiappGasIn</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
      <link href="~/css/site.css" rel="stylesheet">

    @RenderSection("Styles", required: false)

  </head>
  <body>
<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hi, Administrator</a></li> -->
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">     
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="~/adminlte/images/blank-person.png" alt="User Avatar" class="img-size-50 mr-3 img-circle" style="width:30px;"> Hi, @userManager.GetUserName(User)<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Home")"><span><i class="fa fa-home" aria-hidden="true"></i></span> Home</a></li>
              <li><a href="google.com"><span><i class="fa fa-user" aria-hidden="true"></i></span> Profile</a></li>
              <li><a href="@Url.Action("TransCNG", "Transaction")"><span><i class="fa fa-history" aria-hidden="true"></i></span> History</a></li>
              <li><a href="@Url.Action("Index", "SimulationCost")"><span><i class="fa fa-gear" aria-hidden="true"></i></span> Simulation Cost</a></li>
                            @if (this.User.IsInRole("Super Admin") || this.User.IsInRole("Admin"))
                            {
                                <li>
                                    <a class="dropdown-item" href="#"><span><i class="fa fa-database" aria-hidden="true"></i></span> Master Data &raquo; </a>
                                    <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
                                        @if (this.User.IsInRole("Super Admin"))
                                        {
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("List", "SysUser")"><i class="fa fa-users" aria-hidden="true"></i><span> User</span></a>
                                            </li>


                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("List", "SysRole")"><i class="fab fa-creative-commons-by" aria-hidden="true"></i> Role</a>
                                            </li>
                                        }
                                        @if (this.User.IsInRole("Super Admin") || this.User.IsInRole("Admin"))
                                        {
                                            <li>
                                                <a class="dropdown-item" href="#"><span><i class="fa-solid fa-fire"></i></span> CNG &raquo; </a>
                                                <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
                                                    <li>
                                                        <a class="dropdown-item" href="@Url.Action("List", "MstHargaPRS")"><i class="fas fa-comments-dollar" aria-hidden="true"></i> Harga PRS</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="@Url.Action("List", "MstCraddle")"><i class="fas fa-truck-loading" aria-hidden="true"></i> Craddle GTM</a>
                                                    </li>                 
                                                    <li>
                                                        <a class="dropdown-item" href="@Url.Action("List", "MstHeadTruck")"><i class="fas fa-truck-moving" aria-hidden="true"></i> Head Truck</a>
                                                    </li> 
                                                    <li>
                                                        <a class="dropdown-item" href="@Url.Action("List", "MstLokasiSPBG")"><i class="fas fa-map-marked-alt" aria-hidden="true"></i> Lokasi SPBG</a>
                                                    </li> 
                                                    <li>
                                                        <a class="dropdown-item" href="@Url.Action("List", "MstGaji")"><i class="far fa-money-bill-alt" aria-hidden="true"></i> Gaji Driver & Operator</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("List", "MstEnergy")"><i class="fa-solid fa-explosion" aria-hidden="true"></i><span> Energy</span></a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            <li><a href="@Url.Action("Index", "ConverterEnergy")"><span><i class="fa fa-exchange" aria-hidden="true"></i></span> Converter Energy</a></li>
              
              <br>
             <div class="row">
                 <div class="col-md-12">
                     <div class="col-md-6"><img src="@Url.Content("~/adminlte/images/logos.png")" class="image-responsive" style="width:80px; height:30px; float: center;"></div>
                     <div class="col-md-6"><form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                            <button type="submit" title="Sign Out" class="btn btn-danger btn-sm">  Sign Out</button>
                        </form></div>
                 </div>
             </div>
              
             @* <center>  <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                            <button type="submit" title="Sign Out" class="btn btn-danger-outline btn-sm">  Sign Out</button>
                        </form></center>
              <center><img src="@Url.Content("~/adminlte/images/logos.png")" class="image-responsive" style="width:80px; height:30px; float: center;"></center>*@
            </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
@RenderBody()


	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>

