@{
ViewData["Title"] = "Converter Energy";
}
<div class="container body" style="padding-left:230px;padding-right:230px;margin-top:-7px;">
    <div class="card">
        <div class="row ">
            <div class="col-md-12 px-3">
                <div class="card-block" style="border: 1px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h5 class="card-title font-bold batasAtas">Cost Structure Simulation Software</h5>
                        </div>
                        <div class="col-md-5"><img src="@Url.Content("~/adminlte/images/logos.png")"
                                class="image-responsive" style="width:120px; height:40px; float: right;"></div>
                    </div>


                    <div id="convertEnergy">
                        <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin"
                            style="margin-top: 7px;">
                            <div class="card-body" style="margin: 15px ;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <form class="form-horizontal form-label-left">
                                                <input type="hidden" id="energyName" />
                                                <label style="margin-left:10px;">Dari</label>
                                                <br />
                                                <div class="form-group row ">
                                                    <div class="col-md-12">
                                                        <div class="col-md-5 col-sm-5 ">
                                                            <input class="form-control form-control-sm frmInput"
                                                                id="pemakaian" name="pemakaian" type="number"
                                                                style="padding: 2px;" placeholder=""
                                                                aria-label=".form-control-sm example">
                                                        </div>
                                                        <span class="col-md-1 col-sm-1 frmInput"
                                                            style="padding-left: 2px;" id="satuanPemakaian"></span>
                                                        <div class="col-md-6 col-sm-6 "
                                                            style="padding: 2px;bottom: 2px;">
                                                            <select class="form-control form-control-sm frmInput"
                                                                id="bahanBakar" style="padding: 2px; width:92%;">
                                                                <option value="0">- Pilih Bahan Bakar -</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <div class="col-md-12">
                                                        <div class="col-md-5 col-sm-5 ">
                                                            <input class="form-control form-control-sm frmInput"
                                                                id="hargaBBM" name="hargaBBM" type="number"
                                                                style="padding: 2px;" placeholder=""
                                                                aria-label=".form-control-sm example">
                                                        </div>
                                                        <span class="col-md-3 col-sm-3 frmInput"
                                                            style="padding-left: 2px;" id="satuanHarga"></span>

                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <div class="col-md-12">
                                                        <div class="col-md-5 col-sm-5 ">
                                                            <input class="form-control form-control-sm frmInput"
                                                                id="nilaiKalori" name="nilaiKalori" type="number"
                                                                style="padding: 2px;" placeholder=""
                                                                aria-label=".form-control-sm example">
                                                        </div>
                                                        <span class="col-md-3 col-sm-3 frmInput"
                                                            style="padding-left: 2px;" id="satuan"></span>

                                                    </div>


                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <form class="form-horizontal form-label-left">
                                                <input type="hidden" id="energyNames" />
                                                <label style="margin-left:10px;">Ke</label>
                                                <br />
                                                <div class="form-group row ">
                                                    <div class="col-md-12">
                                                        <div class="col-md-5 col-sm-5 ">
                                                            <input class="form-control form-control-sm frmInput"
                                                                id="pemakaians" name="pemakaians" type="number"
                                                                style="padding: 2px;" placeholder=""
                                                                aria-label=".form-control-sm example">
                                                        </div>
                                                        <span class="col-md-1 col-sm-1 frmInput"
                                                            style="padding-left: 2px;" id="satuanPemakaians"></span>
                                                        <div class="col-md-6 col-sm-6 "
                                                            style="padding: 2px;bottom: 2px;">
                                                            <select class="form-control form-control-sm frmInput"
                                                                id="bahanBakars" style="padding: 2px; width:92%;">
                                                                <option value="0">- Pilih Bahan Bakar -</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <div class="col-md-12">
                                                        <div class="col-md-5 col-sm-5 ">
                                                            <input class="form-control form-control-sm frmInput"
                                                                id="hargaBBMs" name="hargaBBMs" type="number"
                                                                style="padding: 2px;" placeholder=""
                                                                aria-label=".form-control-sm example">
                                                        </div>
                                                        <span class="col-md-3 col-sm-3 frmInput"
                                                            style="padding-left: 2px;" id="satuanHargas"></span>

                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <div class="col-md-12">
                                                        <div class="col-md-5 col-sm-5 ">
                                                            <input class="form-control form-control-sm frmInput"
                                                                id="nilaiKaloris" name="nilaiKaloris" type="number"
                                                                style="padding: 2px;" placeholder=""
                                                                aria-label=".form-control-sm example">
                                                        </div>
                                                        <span class="col-md-3 col-sm-3 frmInput"
                                                            style="padding-left: 2px;" id="satuans"></span>

                                                    </div>


                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 " style="margin:10px;">
                                    <a href="#" onclick="convertEnergy()"
                                        class="btn btn-primary btn-sm pull-right">Convert</a>
                                </div>
                                <table class="table table-bordered" id="tableConvert">
                                    <thead>
                                        <tr>
                                            <th style="width:40%; text-align:center; font-size:12px;">ITEM</th>
                                            <th style="width:30%; text-align:center; font-size:12px;" colspan="2"><span
                                                    id="tblHeader"></span></th>
                                           @* <th style="width:20%; text-align:center; font-size:12px;" colspan="2">GAS
                                                BUMI</th>*@
                                            <th style="width:30%; text-align:center; font-size:12px;" colspan="2"><span
                                                    id="tblConv"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-size:12px;">NILAI KALORI</td>
                                            <td class="tblConvert"><span id="tblNilaiKalori"></span></td>
                                            <td class="tblConvert"><span id="tblSatuan"></span></td>
                                           @* <td class="tblConvert"><span id="tblHargaGasBumi"></span></td>
                                            <td class="tblConvert"><span id="">Kkal/m3</span></td>*@
                                            <td class="tblConvert"><span id="tblNilaiKaloriConv"></span></td>
                                            <td class="tblConvert"><span id="tblSatuanConv"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:12px;">KONVERSI</td>
                                            <td class="tblConvert"><span id="tblKonversi"></span></td>
                                            <td class="tblConvert"><span id="tblKonversiSatuan"></span></td>
                                           @* <td class="tblConvert"><span id="tblKonversiGas"></span></td>
                                            <td class="tblConvert"><span id="">m3</span></td>*@
                                            <td class="tblConvert"><span id="tblKonversiConv"></span></td>
                                            <td class="tblConvert"><span id="tblKonversiSatuanConv"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:12px;">PEMAKAIAN BAHAN BAKAR PER BULAN</td>
                                            <td class="tblConvert"><span id="tblPemakaian"></span></td>
                                            <td class="tblConvert"><span id="tblPemakaianSatuan"></span></td>
                                           @* <td class="tblConvert"><span id="tblPemakaianGas"></span></td>
                                            <td class="tblConvert"><span id="">m3</span></td>*@
                                            <td class="tblConvert"><span id="tblPemakaianConv"></span></td>
                                            <td class="tblConvert"><span id="tblPemakaianSatuanConv"></span></td>
                                        </tr>
                                        
                                        <tr id="hrgConvert1">
                                            <td style="font-size:12px;">HARGA BAHAN BAKAR</td>
                                            <td class="tblConvert" style="background-color: #f77e7e; font-weight:bold;">
                                                <span id="tblBB"></span>
                                            </td>
                                            <td class="tblConvert"><span id="tblBBSatuan"></span></td>
                                           @* <td class="tblConvert" style="background-color: #8cffc8; font-weight:bold;">
                                                <span id="tblBBGas"></span>
                                            </td>
                                            <td class="tblConvert"><span id="">Rp/m3</span></td>*@
                                            <td class="tblConvert" style="background-color: #ffd333; font-weight:bold;">
                                                <span id="tblBBConv"></span>
                                            </td>
                                            <td class="tblConvert"><span id="tblBBSatuanConv"></span></td>
                                        </tr>
                                        <tr id="hrgConvert2">
                                            <td style="font-size:12px;">BIAYA UNTUK BAHAN BAKAR PER BULAN </td>
                                            <td class="tblConvert" style="background-color: #f77e7e; font-weight:bold;">
                                                <span id="tblBiaya"></span>
                                            </td>
                                            <td class="tblConvert"><span id="tblBiayaSatuan"></span></td>
                                            @*<td class="tblConvert" style="background-color: #8cffc8; font-weight:bold;">
                                                <span id="tblBiayaGas"></span>
                                            </td>
                                            <td class="tblConvert"><span id="">Rp/Bln</span></td>*@
                                            <td class="tblConvert" style="background-color: #ffd333; font-weight:bold;">
                                                <span id="tblBiayaConv"></span>
                                            </td>
                                            <td class="tblConvert"><span id="tblBiayaSatuanConv"></span></td>
                                        </tr>


                                    </tbody>
                                </table>


                                <br />
                                <div class="form-group row ">
                                    <label class="control-label col-md-4 col-sm-4 ">Pemakaian <span id="resultSatuanPemakaian"></span></label>
                                    <div class="col-md-8 col-sm-8 ">
                                        <input class="form-control form-control-sm" id="resultConvert"
                                            name="resultConvert" type="text" placeholder=""
                                            aria-label=".form-control-sm example" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-sm-12  offset-md-3" style="margin-top:10px ;">
                                <button type="submit" onclick="submitEnergy()"
                                    class="btn btn-primary btn-sm pull-right RbtnMargin">Submit</button>
                                <button type="submit" onclick="resetInput()"
                                    class="btn btn-warning btn-sm pull-right RbtnMargin">Reset</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
<link rel="stylesheet" href="~/plugins/map/css/lib/leaflet.css" />
<link rel="stylesheet" href="~/plugins/map/css/lib/leaflet-search.mobile.min.css" />
<link rel="stylesheet" href="~/plugins/map/css/lib/leaflet-search.min.css" />
<link rel="stylesheet" href="~/plugins/map/css/lib/leaflet.draw.css" />
<link rel="stylesheet" type="text/css"
    href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">

@*
<link rel="stylesheet" href="~/plugins/map/css/styles.css" />*@

<style>
    .koes {
        position: absolute;

        top: 45px;
        z-index: -2;
    }

    .agri {
        margin-left: 70%;
        margin-right: 1%;
        margin-top: 10px;
    }

    .map {
        height: 370px;
        width: 100%;
    }

    #mapSearchContainer {
        position: fixed;
        top: 20px;
        right: 40px;
        height: 30px;
        width: 180px;
        z-index: 110;
        font-size: 10pt;
        color: #5d5d5d;
        border: solid 1px #bbb;
        background-color: #f8f8f8;
    }

    .geocoder-control-input leaflet-bar {
        height: 30px;
        width: 180px;
    }

    .pointer {
        position: absolute;
        top: 86px;
        left: 60px;
        z-index: 99999;
    }

    .results {
        background-color: white;
        opacity: 0.8;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 320px;
        height: 480px;
        overflow-y: scroll;
    }

    #map .leaflet-bar .leaflet-draw-draw-rectangle,
    #map .leaflet-bar .leaflet-draw-draw-circle,
    #map .leaflet-bar .leaflet-draw-edit-edit,
    #map .leaflet-bar .leaflet-draw-edit-remove {
        display: none;
    }

    .tblConvert {
        width: 15%;
        text-align: center;
        font-size: 12px;
    }
</style>
}


@section Scripts{

<script type="text/javascript">
    function convertEnergy() {

        let nf = new Intl.NumberFormat('en-US')
        var energyName = $("#energyName").val();
        var demand = $("#pemakaian").val();
        var satuan = $("#satuan").text();
        var satuanPemakaian = $("#satuanPemakaian").text();
        var nilaiKal = $("#nilaiKalori").val();
        var hargaBB = $("#hargaBBM").val();

        var energyNames = $("#energyNames").val();
        var demands = $("#pemakaians").val();
        var satuans = $("#satuans").text();
        var satuanPemakaians = $("#satuanPemakaians").text();
        var nilaiKals = $("#nilaiKaloris").val();
        var hargaBBs = $("#hargaBBMs").val();

        if (demand == "" || demand == null) {
            alert("Jumlah pemakaian wajib diisi");
        } else if (energyName == "" || energyName == null) {
            alert("Bahan bakar 'dari' wajib diisi");
        } else if (energyNames == "" || energyNames == null) {
            alert("Bahan bakar 'ke' wajib diisi");
        } else if (hargaBB == "" || hargaBB == 0 || hargaBB == null || hargaBBs == "" || hargaBBs == 0 || hargaBBs == null) {
            $("#hrgConvert1").hide();
            $("#hrgConvert2").hide();

             $("#tblHeader").text(energyName);
            $("#tblConv").text(energyNames);

            $("#tblNilaiKalori").text(nf.format(nilaiKal));
            $("#tblNilaiKaloriConv").text(nf.format(nilaiKals));

            $("#tblSatuan").text(satuan);
            $("#tblSatuanConv").text(satuans);

            $("#tblKonversi").text("1");
            $("#tblKonversiSatuan").text(satuanPemakaian);
            $("#tblKonversiSatuanConv").text(satuanPemakaians);

         
            var hitKonversiConv = parseFloat(nilaiKal) / parseFloat(nilaiKals);
            $("#tblKonversiConv").text(nf.format(hitKonversiConv));

            $("#tblPemakaian").text(nf.format(demand));
            $("#tblPemakaianSatuan").text(satuanPemakaian);
            $("#tblPemakaianSatuanConv").text(satuanPemakaians);
            var hitPemakaianConv = (parseFloat(demand) * parseFloat(hitKonversiConv)).toFixed(0);
            $("#tblPemakaianConv").text(nf.format(hitPemakaianConv));

            $("#tblBB").text(nf.format(hargaBB));
            $("#tblBBConv").text(nf.format(hargaBBs));
            $("#tblBBSatuan").text("Rp / " + satuanPemakaian);
            $("#tblBBSatuanConv").text("Rp / " + satuanPemakaians);

            var hitBiaya = parseFloat(hargaBB) * parseFloat(demand);
            $("#tblBiaya").text(nf.format(hitBiaya));
            $("#tblBiayaSatuan").text("Rp / Bln");
            $("#tblBiayaSatuanConv").text("Rp / Bln");
            var hitBiayaConv = parseFloat(hitPemakaianConv) * parseFloat(hargaBBs);
            $("#tblBiayaConv").text(nf.format(hitBiayaConv));

          
            $("#resultConvert").val(nf.format(hitPemakaianConv));
            $("#resultSatuanPemakaian").text(energyNames);
            $("#pemakaians").val(hitPemakaianConv);
        } else {
            $("#tableConvert").show();
             $("#hrgConvert1").show();
            $("#hrgConvert2").show();
            $("#tblHeader").text(energyName);
            $("#tblConv").text(energyNames);

            $("#tblNilaiKalori").text(nf.format(nilaiKal));
            $("#tblNilaiKaloriConv").text(nf.format(nilaiKals));

            $("#tblSatuan").text(satuan);
            $("#tblSatuanConv").text(satuans);

            $("#tblKonversi").text("1");
            $("#tblKonversiSatuan").text(satuanPemakaian);
            $("#tblKonversiSatuanConv").text(satuanPemakaians);

         
            var hitKonversiConv = parseFloat(nilaiKal) / parseFloat(nilaiKals);
            $("#tblKonversiConv").text(nf.format(hitKonversiConv));

            $("#tblPemakaian").text(nf.format(demand));
            $("#tblPemakaianSatuan").text(satuanPemakaian);
            $("#tblPemakaianSatuanConv").text(satuanPemakaians);
            var hitPemakaianConv = (parseFloat(demand) * parseFloat(hitKonversiConv)).toFixed(0);
            $("#tblPemakaianConv").text(nf.format(hitPemakaianConv));

            $("#tblBB").text(nf.format(hargaBB));
            $("#tblBBConv").text(nf.format(hargaBBs));
            $("#tblBBSatuan").text("Rp / " + satuanPemakaian);
            $("#tblBBSatuanConv").text("Rp / " + satuanPemakaians);

            var hitBiaya = parseFloat(hargaBB) * parseFloat(demand);
            $("#tblBiaya").text(nf.format(hitBiaya));
            $("#tblBiayaSatuan").text("Rp / Bln");
            $("#tblBiayaSatuanConv").text("Rp / Bln");
            var hitBiayaConv = parseFloat(hitPemakaianConv) * parseFloat(hargaBBs);
            $("#tblBiayaConv").text(nf.format(hitBiayaConv));

          
            $("#resultConvert").val(nf.format(hitPemakaianConv));
            $("#resultSatuanPemakaian").text(energyNames);
            $("#pemakaians").val(hitPemakaianConv);

        }

    }

    function resetInput() {
        $("#tableConvert").hide();
        $("#bahanBakar").val("");
        $("#pemakaian").val("");
        $("#nilaiKalori").val("");
        $("#resultConvert").val("");
        $("#hargaBBM").val(""); 
        
        $("#bahanBakars").val("");
        $("#pemakaians").val("");
        $("#nilaiKaloris").val("");
        $("#resultConverts").val("");
        $("#hargaBBMs").val("");
    }


    $(document).ready(function () {
        $("#tableConvert").hide();
        $.ajax({
            url: '@Url.Action("Retrieve", "MstEnergy")',
            type: 'post',
            dataType: 'json',
            success: function (response) {

                var len = response.data.length;

                for (var i = 0; i < len; i++) {
                    var id = response.data[i].energyID;
                    var name = response.data[i].energy;
                    var nilai = response.data[i].nilaiKalori;
                    var satuan = response.data[i].satuan;

                    $("#bahanBakar").append("<option value='" + id + "'>" + name + "</option>");


                }
            }
        });
        $("#bahanBakar").change(function () {
            var deptid = $(this).val();

            $.ajax({
                url: '@Url.Action("Retrieve", "MstEnergy")',
                type: 'post',
                dataType: 'json',
                success: function (response) {

                    var len = response.data.length;

                    for (var i = 0; i < len; i++) {
                        var id = response.data[i].energyID;
                        var name = response.data[i].energy;
                        var nilai = response.data[i].nilaiKalori;
                        var satuan = response.data[i].satuan;

                        $("#bahanBakars").append("<option value='" + id + "'>" + name + "</option>");


                    }

                    for (var i = 0; i < len; i++) {
                        var id = response.data[i].energyID;
                        var energy = response.data[i].energy;
                        if (id == deptid) {
                            $("#nilaiKalori").val(response.data[i].nilaiKalori);
                            $("#satuan").text(response.data[i].satuan);
                            $("#energyName").val(response.data[i].energy);
                            $("#hargaBBM").val(response.data[i].harga);
                            if (energy == "LPG" || energy == "Batu Bara") {
                                $("#satuanPemakaian").text("Kg");
                                $("#satuanHarga").text("Rp / Kg");
                            } else if (energy == "Gas Bumi") {
                                $("#satuanPemakaian").text("M3");
                                $("#satuanHarga").text("Rp / M3");
                            } else {
                                $("#satuanPemakaian").text("Ltr");
                                $("#satuanHarga").text("Rp / Ltr");
                            }

                        }
                    }
                }
            });
        });

        //$.ajax({
        //    url: '@Url.Action("Retrieve", "MstEnergy")',
        //    type: 'post',
        //    dataType: 'json',
        //    success: function (response) {

        //        var len = response.data.length;

        //        for (var i = 0; i < len; i++) {
        //            var id = response.data[i].energyID;
        //            var name = response.data[i].energy;
        //            var nilai = response.data[i].nilaiKalori;
        //            var satuan = response.data[i].satuan;

        //            $("#bahanBakars").append("<option value='" + id + "'>" + name + "</option>");


        //        }
        //    }
        //});
        $("#bahanBakars").change(function () {
            var deptid = $(this).val();

            $.ajax({
                url: '@Url.Action("Retrieve", "MstEnergy")',
                type: 'post',
                dataType: 'json',
                success: function (response) {

                    var len = response.data.length;

                    for (var i = 0; i < len; i++) {
                        var id = response.data[i].energyID;
                        var energy = response.data[i].energy;
                        if (id == deptid) {
                            $("#nilaiKaloris").val(response.data[i].nilaiKalori);
                            $("#satuans").text(response.data[i].satuan);
                            $("#energyNames").val(response.data[i].energy);
                            $("#hargaBBMs").val(response.data[i].harga);
                            if (energy == "LPG" || energy == "Batu Bara") {
                                $("#satuanPemakaians").text("Kg");
                                $("#satuanHargas").text("Rp / Kg");
                            } else if (energy == "Gas Bumi") {
                                $("#satuanPemakaians").text("M3");
                                $("#satuanHargas").text("Rp / M3");
                            } else {
                                $("#satuanPemakaians").text("Ltr");
                                $("#satuanHargas").text("Rp / Ltr");
                            }

                        }
                    }
                }
            });
        });
    });
</script>
}